
.my_header {
    width: 100%;
    border-radius: 5px;
    padding: 10px 10px;
    grid-area: header;
    background-color: #00BFFF;
    position: relative;
}

.my_header img {
    display: block;
    height: 50px;
    width: 60px;
    border-radius: 3px;
}

.link_login {
    position: absolute;
    left: 1336px;
    top: 22px;
}
.link_login a {
    color: white;
    text-decoration: none;
}