

.profile{
    grid-area: profile ;
}

.profile_img{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.about_me{
    display: flex;
}

.about_me li{
    font-size: 18px;
    font-family: Gabriola;
}

.img_about{
    margin-right: 20px;
}